{% extends 'comment/base.html' %}
{% block content %}
<h1 class = "subtitle">{{post.title}}</h1>
<small>Posted at {{post.date_added}}</small>
{% if post.image %}
<figure class="image">
    <img src="{{post.image.url}}">
</figure>
{% endif %}
    <p>{{post.content}}</p>
    <a href = "{% url 'home' %}">Go back</a>
<hr>
{% endblock content %}