{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog Project </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5"> 
            <div class="col-sm-7">
                {% block content %}
                    <h3 class="text-black my-5">Blog Posts</h3>
                    {% for post in posts %}
                        <div class="card" style="width: 50rem;">
                          <h5 class="card-title">{{post.title}}</h5>
                          {% if post.image %}
                          <figure class="image">
                            <img src="{{post.image.url}}" class="card-img-top" alt="...">
                        </figure>  
                        {% endif %}
                          <div class="card-body">
                            <p class="card-text">{{post.intro}}</p>
                            <a href="{% url 'detail' post.id %}">Read More</a>
                            <div class="card-footer text-muted">
                              <small>Posted at {{post.date_added}}</small>
                            </div>
                          </div>
                        </div>                        
                        <hr>
                    {% endfor %}
                    </div>
                    {% endblock content %}
                <table class="table table-hover">
                    <thead>
                        
                    </thead>      
                    <tbody id = "tbody">
                            {% for cm in comments %}
                          <tr>
                            <td>{{cm.name}} commented "{{cm.content}}"</td>
                            <td> <input type="button" data-sid="{{cm.id}}" class="btn btn-warning btn-sm btn-edit" value="Edit" />
                            </td>
                            <td> <input type="button" data-sid="{{cm.id}}" class="btn btn-danger btn-sm btn-del" value="Delete" />
                            </td>
                        </tr>
                        </tr>
                                {% endfor %}
                        </tbody>
                    </table> 
            </div>
            </div>
        </div> 
        <div class="container mt-5"> 
            <div class="col-sm-4">
                    <h4 class="text-center alert alert-info"> Comment </h4>
                
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="cmtid" id="cmtid"/>
                {{form.as_p}}
                <input type="button" class= "btn btn-success" id = "btnsave" value="Comment">
            </form>
            <div id="msg" class="alert alert-danger" style="display: none"></div>
        </div> 
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{% static 'comment/js/jquery.js' %}"></script>
        {% include "comment/ajax.html" %}
    </body>
</html>